# Environments
.env
.venv

# Image Formats
*.png
*.jpeg
*.jpg

# Config files
C:\git-forge\python\advanced\python-libraries\database\mongodb\config\main.py
C:\git-forge\python\advanced\python-libraries\applications\flask\flaskblog\config.py

# Cache
*.cpython-310.pyc