# Environments
.env
.venv

# Image and Video Formats
*.png
*.jpeg
*.jpg
*.mp4

# Config files
C:\git-forge\python\advanced\python-libraries\database\mongodb\config\main.py
C:\git-forge\python\advanced\python-libraries\applications\flask\flaskblog\config.py

# Cache
*.cpython-310.pyc