{% extends "layout.html" %}
{% block content %}
    <div class="media">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.img_file) }}">
        <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">No. of posts: {{ posts.total }}</p>
    </div>
    </div>
    {% for post in posts.items %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.text }}</p>
        </div>
      </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        <span class="btn btn-outline-info mb-4">...</span>
      {% endif %}
    {% endfor %}
{% endblock content %}
